<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parse Document</title>
</head>
<body>
    <form action="{{ url_for('parse') }}" method=get>
      <dl>
        <dd><textarea name=document rows=5 cols=40>{{data.document}}</textarea>
        <dd><input type=submit value=Submit>
      </dl>
    </form>

  {% if data.sentences %}
  {% for sentence in data.sentences %}
    {{sentence.text}}
  <table border="1">
   <tr>
       <th width="80">ID</th>
       <th width="80">FORM</th>
       <th width="80">LEMMA</th>
       <th width="80">UPOS</th>
       <th width="80">XPOS</th>
       <th width="480">FEATS</th>
       <th width="80">HEAD</th>
       <th width="80">DEPREL</th>
       <th width="80">DEPS</th>
       <th width="80">MISC</th>
  </tr>
    {% for token in sentence.tokens %}
  <tr>
      <td>{{token.id}}</td>
      <td>{{token.form}}</td>
      <td>{{token.lemma}}</td>
      <td>{{token.upos}}</td>
      <td>{{token.xpos}}</td>
      <td>{{token.feats}}</td>
      <td>{{token.head}}</td>
      <td>{{token.deprel}}</td>
      <td>{{token.deps}}</td>
      <td>{{token.misc}}</td>
  </tr>
    {% endfor %}
  </table>
  {% endfor %}
  {% endif %}

</body>
</html>